.face {
	display: flex;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
    gap: 2rem;
	margin: 16px;
	padding: 10px;
	width: 104px;
	height: 104px;

	background-color: #e7e7e7;
	box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
		inset -5px 0 #d7d7d7;
	border-radius: 10%;
}

.pip {
	display: block;
	text-align: center;
	width: 24px;
	color: #333;	
}
#rslt {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    color: black;
	}